
@{
    ViewData["Title"] = "Registrar";
}

<h1>Registrar Cuenta de Usuario</h1>
<form asp-action="Registrar" asp-controller="Cuentas">
    <input type="email" name="email" />
    <input type="password" name="password" />
    <input type="submit" name="Registrar" />
</form>

